/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    background-color: var(--light-background-color);
    color: var(--main-dark-text-color);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
}

main {
    flex-grow: 1;
}

h1,
h2,
h3,
legend {
    font-weight: 700;
    margin: 0.5rem 0;
}

h1,
legend {
    font-size: 1.3rem;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1.1rem;
    color: var(--heading3-color);
}

ul {
    list-style: none;
}

li {
    padding: 0;
    margin: 0;
}

/* Monserrat */
@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Montserrat', Arial, sans-serif;
}


/* variables */
:root {
    --min-screen-width: 320px;
    --dark-background-color: #182333;
    --light-background-color: #f5f5f5;
    --main-dark-text-color: #000;
    --main-light-text-color: #fff;
    --header-background-color: #fff;
    --button-background-color: #f00;
    --link-color: #f00;
    --link-hover-color: #07429E;
    --heading3-color: #f00;
    --button-color: #fff;
    --form-input-border: 1px solid #f5f5f5;
    --transition: all 0.6s ease 0s;

    --color-bg-dark: #182333;
    --color-primary: #ff0000;
    --color-bg-light: #f5f5f5;
    --color-bg-white: #fff;
    --color-text-dark: #000;
    --color-text-light: #fff;

    --font-size-large: 4rem;
    --font-size-medium: 2rem;
    --font-size-small: 1.2rem;
    --font-size-xs: 0.75rem;
}


/* -------------------------- */

/* COMMON STYLES */

/* -------------------------- */

/** common **/

body.menu-opened,
body.form-opened {
    overflow: hidden;
}

/* links */
a {
    text-decoration: none;
    color: var(--link-color);
    transition: var(--transition);
}

a:hover {
    color: var(--link-hover-color);
}

/* icons */
svg.icon {
    fill: var(--link-color);
    width: 1.25rem;
    height: 1.25rem;
    transition: var(--transition);
    margin: 6px;
}

svg.icon:hover {
    fill: var(--main-light-text-color);
}

/* forms */
form {
    position: relative;
    padding: 20px;
}

fieldset {
    border: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

button,
.button,
input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    height: 46px;
    line-height: 46px;
    padding: 10px;
    font-size: 1rem;
    font-family: inherit;
}

button,
.button {
    color: var(--button-color);
    background-color: var(--button-background-color);
    padding: 0 10px;
    font-weight: 600;
    cursor: pointer;
}

.button:hover {
    color: var(--main-light-text-color);
}

button.close {
    background: none;
    color: var(--button-background-color);
    width: 46px;
}


input[type='text'],
input[type='email'],
input[type='tel'] {
    border: var(--form-input-border);
    width: 100%;
}

textarea {
    border: var(--form-input-border);
    min-height: 132px;
    line-height: 32px;
    resize: none;
    width: 100%;
}

/* common-contacts */
.contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.contacts li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: var(--min-screen-width);
    max-width: var(--min-screen-width);
}

.contacts li a {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: var(--main-light-text-color);
    font-size: 1.1rem;
}

.contacts li a:hover {
    color: var(--link-color);
}

.contacts li a:hover svg {
    fill: var(--main-light-text-color);
}

/* common-language-picker */
.language-picker {
    width: var(--min-screen-width);
    max-width: var(--min-screen-width);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.language-picker li {
    min-width: 24px;
    padding: 6px;
    border-left: 1px solid var(--main-light-text-color);
}

.language-picker li a {
    text-transform: uppercase;
    font-size: 1.1rem;
    color: var(--main-light-text-color);
}

.language-picker li a:hover,
.language-picker li a.active {
    text-transform: uppercase;
    color: var(--link-color);
}

.language-picker li:first-child {
    border: 0;
}

/* common-social-links */
.social-links {
    width: var(--min-screen-width);
    max-width: var(--min-screen-width);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* common-logo */
.logo {
    width: var(--min-screen-width);
    max-width: var(--min-screen-width);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: var(--main-dark-text-color);
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
}

/* common-menu */

.menu ul {
    width: 100%;
    min-height: 80px;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.menu li a {
    display: block;
    min-height: 80px;
    line-height: 80px;
    padding: 0 10px;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--main-dark-text-color);
}

.menu li a:hover,
.menu li a.active {
    color: var(--main-light-text-color);
    background-color: var(--link-color);
}

/* common details*/

summary {
    padding-left: 1rem;
    list-style-type: none;
    cursor: pointer;
    color: var(--link-color);
    position: relative;
}

details>summary:before,
details>summary:before {
    content: '+';
    position: absolute;
    width: 1rem;
    height: 1rem;
    left: 0;
    transition: .2s;
}

details[open]>summary:before {
    content: '-';
}

details p {
    padding: 20px;
}


/* ------------------------------------------------ */

/* TOP HEADER */

/* ------------------------------------------------ */




.top-header {
    background-color: var(--dark-background-color);
    padding: 10px 0;
}

.top-header .container {
    min-height: 56px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.top-header .social-links,
.top-header .language-picker {
    justify-content: end;
}

@media screen and (max-width: 1279px) {

    .top-header .container,
    .top-header .language-picker,
    .top-header .social-links,
    .top-header .contacts,
    .top-header .contacts li {
        justify-content: center;
    }
}



/* ------------------------------------------------ */

/* HEADER */

/* ------------------------------------------------ */



.header {
    background-color: var(--header-background-color);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header .container {
    min-height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    justify-content: flex-start;
}

.header .logo:hover {
    color: var(--color-text-dark);
}

@media screen and (max-width: 1279px) {

    .header .logo {
        justify-content: center;
    }
}



/* ------------------------------------------------ */

/* POPUP */

/* ------------------------------------------------ */




.popup-overlay {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.popup-overlay .modal {
    position: relative;
    max-height: 100%;
    overflow-y: scroll;
    margin: 20px auto;
    max-width: 480px;
    min-width: 320px;
    background-color: var(--light-background-color);
    padding: 20px;
}

/* width */
.popup-overlay .modal::-webkit-scrollbar {
    width: 2px;
}

/* Track */
.popup-overlay .modal::-webkit-scrollbar-track {
    background-color: var(--light-background-color);
    border-radius: 2px;
}

/* Handle */
.popup-overlay .modal::-webkit-scrollbar-thumb {
    background: var(--dark-background-color);
    border-radius: 2px;
}

/* Handle on hover */
.popup-overlay .modal::-webkit-scrollbar-thumb:hover {
    background: var(--dark-background-color);
}

.popup-overlay .modal input[name="name"],
.popup-overlay .modal input[type="email"] {
    max-width: calc(50% - 10px);
}

.popup-overlay .modal .close {
    position: absolute;
    top: 0;
    right: 0;
}

.popup-overlay .modal .agreement-text {
    font-size: 1.1rem;
}

.popup-overlay .modal .agreement-text ol {
    padding: 1.1rem;
}


#galleryTape {
    -ms-overflow-style: none;
}

#galleryTape::-webkit-scrollbar {
    display: none;
    width: 0 !important;
}

/* ------------------------------------------------ */

/* BURGER */

/* ------------------------------------------------ */



.open {
    display: flex !important;
}

.burger {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 50px;
    height: 18px;
    cursor: pointer;
    background: none;
}

.burger span {
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: var(--color-bg-dark);
}

.burger::before,
.burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 30px;
    background-color: var(--color-bg-dark);
    transition: all 0.3s ease 0s;
}

.burger::before {
    transform: translate(0, 10px);
}

.burger::after {
    transform: translate(0, -10px);
}

.burger.active span {
    transform: scale(0);
}

.burger.active::before {
    transform: rotate(-45deg);
}

.burger.active::after {
    transform: rotate(45deg);
}

@media screen and (max-width: 1024px) {
    .burger {
        display: flex;
        margin: 20px;
    }

    .burger.active::before,
    .burger.active::after {
        background-color: #fff;
    }

    .header .menu {
        display: none;
        flex-direction: column;
        position: fixed;
        align-items: center;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: var(--color-bg-dark);
        color: var(--color-text-light);
        animation: burgerAnimation 0.4s;
    }

    .header .menu ul {
        flex-direction: column;
        row-gap: 30px;
    }

    .header nav.open ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header .menu ul li a {
        color: var(--color-text-light);
    }

    #header-request-btn {
        color: var(--color-text-light);
    }

    nav.open li {
        height: 20px;
        line-height: 20px;
    }

    nav.open li a {
        min-height: 20px;
        line-height: 20px;
        padding: 10px;
    }
}

@keyframes burgerAnimation {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@media screen and (max-width: 390px) {
    .header .logo {
        margin-bottom: 20px;
    }

    .header .container nav.open {
        padding-top: 100px;
    }

    .burger.active {
        position: fixed;
        top: 50px;
    }
}


/* ABOUT PAGE  */


/* ------------------------------------------------ */


/* SLIDER */


/* ------------------------------------------------ */

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.slides {
    display: flex;
    transition: transform 1s ease-in-out;
    touch-action: none;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    display: block;
}

.slider button {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    padding: 10px;
    z-index: 10;
    background: none;
}

.slider button svg.icon {
    fill: #fff;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}


/* ------------------------------------------------ */


/* PRODUCTS LIST */


/* ------------------------------------------------ */


.products-list {
    padding: 40px 0;
    background-color: var(--color-bg-light);
    position: relative;
}


.products-list ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
}

.products-list ul::-webkit-scrollbar {
    display: none;
    width: 0 !important;
}

.products-list ul li {
    width: 320px;
    min-width: 320px;
    display: flex;
    align-items: center;
    scroll-snap-align: start;
}

.products-list ul li a {
    width: 320px;
    min-width: 320px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-text-dark);
    gap: 10px;
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.products-list ul li a:hover {
    color: var(--color-primary);
}

.products-img {
    width: 100px;
    margin-right: 10px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.products-img img {
    width: 100%;
}

.products-list h2 {
    font-size: var(--font-size-medium);
    font-weight: bold;
    text-transform: uppercase;
}

.products-list button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--button-color);
    border-radius: 50%;
}

#swipe-left {
    display: none;
}

.products-list button svg.icon:hover {
    fill: #f00;
}

#swipe-left {
    left: 10px;
}

#swipe-right {
    right: 10px;
}

@media screen and (max-width: 640px) {
    .products-list button {
        display: none;
    }
}


/* ------------------------------------------------ */


/* BETTER SERVICE */


/* ------------------------------------------------ */


.better-service {
    padding: 0;
    background-color: var(--header-background-color);
}

.better-service .container {
    display: flex;
    align-items: flex-start;
    gap: 2%;
}

.better-service .img {
    width: 44%;
    min-width: var(--min-screen-width);
    aspect-ratio: 1/1;
}

.better-service .img img {
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.better-service .text {
    width: 54%;
    padding: 20px 0;
    font-size: var(--font-size-small);
    text-align: justify;
}

.better-service .text details[open]>summary {
    display: none;
}

.better-service .text details p {
    padding: 0;
}

.better-service h4 {
    font-size: clamp(1.1rem, 1.5vw, 1.5rem);
    font-weight: 400;
}

.better-service h1 {
    font-size: clamp(2rem, 3.5vw, 3.5rem);
    font-weight: bold;
    color: var(--color-primary);
}

.better-service h3 {
    font-size: clamp(1.1rem, 1.5vw, 1.5rem);
    margin-bottom: 20px;
    color: var(--color-text-dark);
}

.better-service h1,
.better-service h3,
.better-service h4 {
    text-transform: uppercase;
}

.better-service p a {
    color: var(--color-primary);
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .better-service .container {
        flex-direction: column-reverse;
    }

    .better-service .img {
        width: 100%;
    }

    .better-service .img img {
        width: 100%;
    }

    .better-service .text {
        width: 100%;
        text-align: left;
    }
}

/* ------------------------------------------------ */


/* ACHIEVEMENTS */


/* ------------------------------------------------ */

.achievements {
    padding: 0;
    background-color: var(--color-bg-light);
}

.achievements ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.achievements ul li {
    min-width: var(--min-screen-width);
    min-height: 200px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
}

.achievements .bg-digit {
    text-shadow: 0px 0px 2px #000000;
    color: var(--color-bg-light);
    font-size: 8.5rem;
    font-weight: 700;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 75px;
    z-index: 0;
}

.achievements .num {
    width: 75px;
    font-size: var(--font-size-large);
    margin-right: 10px;
    color: var(--color-primary);
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 0;
    text-align: right;
}

.achievements .text {
    max-width: 240px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 80px;
    z-index: 0;
    font-size: 1.2rem;
    font-weight: 700;
}

/* ------------------------------------------------ */


/* VIDEO SECTION */


/* ------------------------------------------------ */


.video-section {
    background-color: var(--color-bg-dark);
    padding: 20px 0;
    color: var(--color-text-light);
}

.video-section h2 {
    text-align: right;
    font-size: clamp(2rem, 3.5vw, 4rem);
    color: var(--color-primary);
}

.video-section h3 {
    text-align: right;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    color: var(--color-text-light);
    font-weight: normal;
}

.video-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.video-text {
    width: 40%;
    min-width: var(--min-screen-width);
}

.video-text .button {
    display: block;
    text-align: center;
    max-width: 200px;
    margin: 40px 0;
}

.custom-list {
    list-style: none;
    counter-reset: list-number 0;
}

.custom-list li {
    margin: 20px 0;
    counter-increment: list-number;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.1rem;
}

.custom-list li:before {
    content: counter(list-number);
    width: 38px;
    min-width: 38px;
    height: 38px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: var(--color-primary);
    border-radius: 50%;
    color: var(--color-text-light);
}

.video {
    width: 50%;
    flex-grow: 1;
    min-width: var(--min-screen-width);
    aspect-ratio: 16/9;
    object-fit: cover;
    position: relative;
    cursor: pointer;
    background-color: var(--main-dark-text-color);
    padding: 0;
}

.video a {
    display: block;
    width: 100%;
    height: 100%;
}

.video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video svg.icon {
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video:hover svg.icon {
    fill: var(--button-color);
}

.video iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    border: 0;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .video-body {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .video {
        width: 100%;
        order: 0;
    }

    .video-text {
        order: 1;
    }

    .video-text .button {
        margin: 40px auto;
    }
}

/* ---------------------------------- */


/* PRODUCTS */


/* ---------------------------------- */

.products .container ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.products .product {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.products ul .product:nth-child(even) {
    flex-direction: row-reverse;
}

.products .product-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
    min-width: var(--min-screen-width);
}

.products .product-info h2 {
    font-size: clamp(1.5rem, 3.5vw, 3.5rem);
    font-weight: bold;
    text-transform: uppercase;
}

.products .product-info p {
    font-size: 1.5rem;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    margin-bottom: 20px;
}

.products .product-img {
    width: 50%;
    min-width: var(--min-screen-width);
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
}

.products .product-img img {
    width: 100%;
}

@media screen and (max-width: 720px) {
    .products .product {
        flex-wrap: wrap;
        justify-content: center;
    }

    .products ul .product:nth-child(even) {
        flex-direction: row;
    }
}

.products .product-gallery {
    padding: 20px 0;
}

.products .product-gallery .img {
    flex-basis: 50%;
    object-fit: cover;
}

.products .product-gallery .img img {
    max-width: 100%;
}


/* gallery tape */
.product-gallery-tape {
    padding: 40px 0;
    background-color: var(--color-bg-light);
    position: relative;
}

.product-gallery-tape .container {
    gap: 0;
}


.product-gallery-tape ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.product-gallery-tape ul li {
    width: 160px;
    min-width: 160px;
    aspect-ratio: 16 / 9;
    scroll-snap-align: start;
    padding: 10px;
}

.product-gallery-tape ul li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

@media screen and (max-width: 1279px) {
    .product-gallery-tape ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
}

/* ----------------------- */

/* CONTACTS */

/* ----------------------- */


.contacts-section {
    background-color: #f5f5f5;
    padding: 40px 0;
}

.contacts-section hr {
    width: 100px;
    margin: 20px auto;
    border: 2px solid #f00;
}

.contacts-section h2 {
    text-align: center;
    font-size: 2rem;
}

.contacts-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0;
    gap: 20px;
}

.contact {
    width: 30%;
    min-width: var(--min-screen-width);
    background-color: #fff;
    padding: 20px;
}

.contact .heading {
    margin-bottom: 15px;
}

.contact .heading svg {
    margin-right: 5px;
    fill: #f00;
}

.contact .heading h3 {
    color: #ff0000;
    font-weight: bold;
    display: inline;
}

.contact ul {
    list-style: none;

}

.contact li {
    margin-bottom: 5px;
}

.contacts-icons {
    height: 16px;
    width: 16px;
}

/* ------------------------------------------------ */


/* VACANCIES */


/* ------------------------------------------------ */


.vacancies_thumbs {
    padding: 20px 0;
}

.vacancies_thumbs .container {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.vacancies_thumbs h3 {
    color: #000;
    font-size: 1.5rem;
    text-transform: none;
}

.vacancies-text {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.vacancies-text p {
    background-color: #fff;
    padding: 15px;
    font-size: 1rem;
    flex-basis: 50%;
}

.vacancies .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 0;
}

.vacancy {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    font-size: 1rem;
}

.description {
    padding: 20px 10px;

}

.form-cv .container {
    max-width: 640px;
    padding: 0;
    gap: 20px;
}

.form-cv h3 {
    color: #000;
    text-align: center;
    font-size: 1.5rem;
}

.form-cv ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    border: none;
    border-radius: 0%;
}

.custom-file input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.custom-file-label {
    display: inline-block;
    width: 100%;
    background-color: #fff;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    color: #808080;
}

.captcha_buttons {
    display: flex;
}

.captcha_buttons svg.icon:hover {
    fill: var(--color-primary);
    cursor: pointer;
}

.cv_form_buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-cv .buttons {
    display: flex;
    gap: 10px;
}

.form-cv .btn {
    border: none;
    background-color: var(--color-primary);
    padding: 10px;
    color: #fff;
    font-size: 1rem;
    flex-basis: 50%;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

.form-cv .btn:hover {
    background-color: #fff;
    color: var(--color-primary);
}

@media screen and (max-width: 550px) {
    .vacancies-text {
        flex-direction: column;
    }
}

@media screen and (max-width: 375px) {
    .vacancy h3 {
        font-size: 1.2rem;
    }
}




/* ------------------------------------------------ */


/* CERTIFICATES */


/* ------------------------------------------------ */


.certificates {
    background-color: var(--color-bg-white);
    padding: 0;
}

.certificates .container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.certificates .container ul li {
    max-width: 100px;
    margin: 20px;
}

.certificates li img {
    width: 100%;
    object-fit: cover;
}



/* ------------------------------------------------ */


/* MAP */


/* ------------------------------------------------ */


.map {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 380px;
    border: 0;
}

#map {
    border: 0;
}

#map.menu-opened {
    display: none;
}

.map-link {
    color: #eee;
    font-size: 12px;
    position: absolute;
    border: 0;
}

.top-link {
    top: 0px;
}

.bottom-link {
    top: 14px;
}

.map-iframe {
    position: relative;
    width: 100%;
    height: 380px;
    border: 0;
}


/* ------------------------------------------------ */


/* FOOTER */


/* ------------------------------------------------ */


.footer {
    background-color: var(--color-bg-dark);
    padding: 20px 0;
    color: var(--color-text-light);
}

.footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer .container section {
    min-width: var(--min-screen-width);
    max-width: var(--min-screen-width);
}

.footer .logo {
    color: var(--color-text-light);
}

.footer a.logo {
    font-size: 3rem;
}

.footer .about {
    margin-bottom: 20px;
    font-size: 1rem;
    max-width: 300px;
    padding: 20px 0;
}

.footer .social-links li {
    height: 50px;
    width: 50px;
    background-color: var(--color-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    cursor: pointer;
    transition: all 0.6s;
}

.footer .social-links li:hover {
    background-color: var(--main-light-text-color);

}

footer .social-links li svg.icon {
    fill: #fff;
    scale: 1.3;
}

footer .social-links li:hover svg.icon {
    fill: var(--link-color);
}

.footer h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: var(--color-text-light);
}

.footer li {
    margin: 6px 0;
}

.footer a {
    color: var(--color-text-light);
    font-size: 1.1rem;
}

.footer a:hover,
.req-btn:hover {
    color: var(--color-primary);
}

.footer .menu li a {
    min-height: 1.25rem;
    line-height: 1.25rem;
    font-size: 1.1rem;
    text-transform: none;
    font-weight: 400;
    color: var(--color-text-light);
}

.footer .menu li a:hover,
.footer .menu li a.active {
    color: var(--link-color);
    background: none;
}

.copyright {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: var(--color-text-light);
    background-color: #1c293e;
}